--- 
--- 

/**
For some reason, I need to include at least one css style before import minima. However,
this tag does not contribute to the style...
*/
img {
    width: 300px;
    float: left;
    margin-right: 20px;
    border-radius: 30px;
}

@import "minima";